.project {
    height: 150px;
    padding-top: 50px;
    margin-bottom: 10px;
}

.project_label {
    line-height: 100px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    background-color: white;
}

.success{
    background-color: green;
}

.error{
    background-color: red;
}

.unknown{
    background-color: gray;
}